@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  font-family: inherit;
  font-size: 16px;
  --bg-color: #f6f8fa;
  --border-color: #d0d7de;
  --dark-color: #1f2329;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: var(--bg-color);
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  font-family: Cinzel;
}

nav {
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navi {
  width: 100%;
  max-width: 980px;
  text-align: center;
}

.main {
  width: 100%;
  min-height: 80vh;
  max-width: 980px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border-top: 1px solid var(--border-color);
  gap: 10px;
}

.gitHub {
  width: 4rem;
  height: auto;
}
/* ------------------------------------- */
#playBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 10px;
  outline: none;
  background-color: initial;
  background-image: linear-gradient(-180deg, #009879, #009879);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 40px 80px;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
}

#playBtn:hover {
  background: #008369;
}

#playBtn:active {
  transform: scale(1.08);
  transition: ease-in;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
